@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: green;
}

.carta {
    width: 400px;
    height: 650px;
    border: 4px solid white;
    border-radius: 24px;
    margin: 120px auto 0;
    margin-top: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.number {
    font-size: 230px;
    padding-left: 50px;

}

.first-icon {
    font-size: 90px;
    position: absolute;
    top: 10px;
    left: 550px;

}

.second-icon {
    font-size: 90px;
    margin-top: auto;
    position: relative;
    left: 50px;
    transform: rotate(180deg);
}